.message {
  font-size: 12px;
  font-weight: 700;
  opacity: 1;
  transform: translateY(14px);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.hidden {
  opacity: 0;
  transform: translateY(0);
}
